In [1]:
import pandas as pd
import numpy as np

I would like to credit Chris Albon for this trick ... <br>
https://chrisalbon.com/python/data_wrangling/pandas_delete_duplicates/ 
<br>

for drop duplicates documentation.... 
<br>
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop_duplicates.html

### Load Dataset

In [2]:
raw_data = {'first_name': ['James','James', 'James', 'James','Tim', 'Jan', 'Ami',"Ryan"], 
        'last_name': ['Mill', 'Mill','Mill', 'Mill','Ali', 'Polz', 'Cooze',"Chia"], 
        'age': [42, 42, 42, 11, 36, 24, 73,99], 
        'preTestScore': [4, 4, 4, 4, 31, 2, 3, 5],
        'postTestScore': [25, 25, 25, 25, 57, 62, 70, 72]}

df = pd.DataFrame(raw_data ,columns = ['first_name','last_name', 'age', 'preTestScore', 'postTestScore'])
df

  first_name last_name  age  preTestScore  postTestScore
0      James      Mill   42             4             25
1      James      Mill   42             4             25
2      James      Mill   42             4             25
3      James      Mill   11             4             25
4        Tim       Ali   36            31             57
5        Jan      Polz   24             2             62
6        Ami     Cooze   73             3             70
7       Ryan      Chia   99             5             72

## Difference between duplicaed and drop_duplicates

### 1. duplicated

In [3]:
print ('duplicated(keep = first)')
print (df.loc[df.duplicated(keep = 'first'),:])
print ('')
print ('duplicated(keep = last)')
print (df.loc[df.duplicated(keep = 'last'),:])
print ('')
print ('duplicated(keep = False)   ie means #ALL')
print (df.loc[df.duplicated(keep = False),:])

duplicated(keep = first)
  first_name last_name  age  preTestScore  postTestScore
1      James      Mill   42             4             25
2      James      Mill   42             4             25

duplicated(keep = last)
  first_name last_name  age  preTestScore  postTestScore
0      James      Mill   42             4             25
1      James      Mill   42             4             25

duplicated(keep = False)   ie means #ALL
  first_name last_name  age  preTestScore  postTestScore
0      James      Mill   42             4             25
1      James      Mill   42             4             25
2      James      Mill   42             4             25

###  Conclusion
Using "duplicated" tends to keep “more” lines if there are more than 2 entries. Hence, a good data analyst will definitely know that the dataset requires further cleaning …

### 2. drop_duplicates

In [4]:
print ('drop_duplicates(keep = first) index 1 and 2 dropped!')
print (df.drop_duplicates(keep = 'first'))
print ('')
print ('drop_duplicates(keep = last) index 0 and 1 dropped!')
print (df.drop_duplicates(keep = 'last'))
print ('')
print ('drop_duplicates(keep = False) --> all dropped!!! ')
print (df.drop_duplicates(keep = False))

drop_duplicates(keep = first) index 1 and 2 dropped!
  first_name last_name  age  preTestScore  postTestScore
0      James      Mill   42             4             25
3      James      Mill   11             4             25
4        Tim       Ali   36            31             57
5        Jan      Polz   24             2             62
6        Ami     Cooze   73             3             70
7       Ryan      Chia   99             5             72

drop_duplicates(keep = last) index 0 and 1 dropped!
  first_name last_name  age  preTestScore  postTestScore
2      James      Mill   42             4             25
3      James      Mill   11             4             25
4        Tim       Ali   36            31             57
5        Jan      Polz   24             2             62
6        Ami     Cooze   73             3             70
7       Ryan      Chia   99             5             72

drop_duplicates(keep = False) --> all dropped!!!
  first_name last_name  age  preTestScore  postTestScore
3      James      Mill   11             4             25
4        Tim       Ali   36            31             57
5        Jan      Polz   24             2             62
6        Ami     Cooze   73             3             70
7       Ryan      Chia   99             5             72

### Conclusion: 
Using keep first/last with drop_duplicates will produce unique values

DataFrame.drop_duplicates(self, subset=None, keep='first', inplace=False)
Return DataFrame with duplicate rows removed, optionally only considering certain columns. Indexes, including time indexes are ignored.

subset : column label or sequence of labels, optional
Only consider certain columns for identifying duplicates, by default use all of the columns

keep : {‘first’, ‘last’, False}, default ‘first’
first : Drop duplicates except for the first occurrence.
last : Drop duplicates except for the last occurrence.
False : Drop all duplicates.

inplace : boolean, default False
Whether to drop duplicates in place or to return a copy

## Examples of subset

In [5]:
df.drop_duplicates(subset=['first_name', 'last_name'], keep = 'first')
# notice index 1,2 and 3 are dropped...

  first_name last_name  age  preTestScore  postTestScore
0      James      Mill   42             4             25
4        Tim       Ali   36            31             57
5        Jan      Polz   24             2             62
6        Ami     Cooze   73             3             70
7       Ryan      Chia   99             5             72

In [6]:
df.drop_duplicates(subset=['first_name', 'last_name','age'], keep = 'first')
# notice  only index 1 and 2 are dropped...

  first_name last_name  age  preTestScore  postTestScore
0      James      Mill   42             4             25
3      James      Mill   11             4             25
4        Tim       Ali   36            31             57
5        Jan      Polz   24             2             62
6        Ami     Cooze   73             3             70
7       Ryan      Chia   99             5             72

Remember: drop_duplicates are usually used with concat!